.axolotls-classes {
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 164px;
}

.axolotls-classes_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mySwiperClasses {
    margin-top: 88px;
    width: 100%;
    height: 700px;
}

.axolotls-slider .mySwiperClasses {
    overflow: visible;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 540px;
}


.mySwiperClasses .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: flex-start;
}

.axolotls-slider .mySwiperClasses .swiper-wrapper {
    width: 80%;
}

.mySwiperClasses .swiper-slide img {
    display: block;
    width: 165px;
    height: 156px;
    object-fit: cover;
    border-radius: 8px;
}

.mySwiperClasses .swiper-slide-next img {
    width: 242px;
    height: 242px;
}
