.header {
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #171523;
    box-sizing: border-box;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.header_content {
  transition: .3s;
    display: flex;
    max-width: 1260px;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    position: relative;
}

.header .header_nav img {
  width: 100px;
}

.header img {
  width: 20%;
  height: 50px;
}

.header_nav {
    display: flex;
    max-width: 515px;
    width: 100%;
}

.header_links {
  padding: 0 20px;
    width: 335px;
  transition: .3s;
}

.header_links ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}

.header_link {
    list-style: none;
}

.header_link {
  cursor: pointer;
    font-weight: bold;
    font-size: 20px;

    color: #999999;
    text-decoration: none;
    transition: .25s;
}

.header_link:hover,
.header_link.active {
  cursor: pointer;
    color: #fff;
}

.header_back-link {
  padding: 4px 20px 0;
  display: flex;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;

  color: #999999;
  text-decoration: none;
  transition: .25s;
  align-items: center;
  justify-content: center;
}

.header_back-link:hover {
  color: #ffffff;
  cursor: pointer;
  transition: .3s;
}

.header_social-links {
    display: flex;
    max-width: 311px;
    width: 100%;
    justify-content: space-between;
}

.header_social-links a,
.header_social-links button {
    width: 150px;
    height: 46px;
    border-radius: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25.5px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    transition: .25s;
}

.header_social-links button {
    border: none;
    outline: none;
    background-color: #999999;
    color: #171523;
}

.header_social-links button:hover {
    cursor: pointer;
    background-color: #fff;
}

.header_social-links a {
    border: 1px solid #999999;
    color: #999999;
    text-decoration: none;
}

.header_social-links a:hover {
    border-color: #ffffff;
    color: #ffffff;
    cursor: pointer;
}

.header_social-links a img {
    filter: contrast(0);
    transition: .25s;
}

.header_social-links a:hover img {
    filter: contrast(10);
}

.header_burger {
  z-index: 3;
  width: 40px;
  height: 40px;
  display: none;
}

.header_burger .is-closed {
  opacity: 1;
  transition: .25s;
}

.header_burger img {
  position: absolute;
  right: 20px;
  top: 0;
  width: 40px;
  transition: .35s;
}

.header_burger img.hide {
  transition: .35s;
  transform: rotate(90deg);
}

.header_burger-content.hide {
  opacity: 0;
  position: absolute;
  top: -180px;
  z-index: -5;
  transition: .5s;
}

.header_burger:hover {
  cursor: pointer;
}

.header_burger-content {
  transition: .5s;
  position: absolute;
  width: 100%;
  z-index: 0;
  top: 70px;
  left: 0;
  display: flex;
  align-items: center;
  height: 200px;
  background-color: #171523;
}

.header_burger-links {
  height: 100%;
}

.header_burger-links ul {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 70%;
}

.header-discord svg {
  fill: black;
}

@media (max-width: 1276px) {
  .header_content {
    padding: 0 20px;
  }
}

@media (max-width: 800px) {
  .header_links {
    display: none;
  }

  .header_social-links {
    max-width: 371px;
  }

  .header_burger {
    display: block;
  }

  .header_nav {
    width: auto;
    max-width: auto;
  }
}

@media (max-width: 570px) {
  .header_social-text {
    display: none;
  }

  .header_social-links a {
    width: 40px;
    border: none;
    padding: 0;
  }

  .header_social-links button {
    background: none;
    width: 40px;
    padding: 0;
  }

  .header_social-links button:hover {
    background: none;
  }

  .header_social-links img {
    width: 100%;
  }

  .header_burger .is-closed {
    width: 42px;
  }

  .header_burger img.hide {
    width: 42px;
  }

  .header_social-links button img {
    filter: invert(60%);
    transition: .25s;
  }

  .header_social-links button:hover img {
    filter: invert(100%);
  }

  .header_social-links {
    max-width: 200px;
    justify-content: space-around;
  }

  .header_back-link {
    padding:  0 20px 0 30px;
  }
}