.header {
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #171523;
    box-sizing: border-box;
    padding: 35px 0;
    display: flex;
    justify-content: center;
}

.header_content {
    display: flex;
    max-width: 1260px;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.header img {
  width: 20%;
  height: 50px;
}

.header_nav {
    display: flex;
    max-width: 515px;
    width: 100%;
}

.header_links {
  padding: 0 20px;
    width: 335px;
}

.header_links ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}

.header_link {
    list-style: none;
}

.header_link {
  cursor: pointer;
    font-weight: bold;
    font-size: 20px;

    color: #999999;
    text-decoration: none;
    transition: .25s;
}

.header_link:hover,
.header_link.active {
  cursor: pointer;
    color: #fff;
}

.header_back-link {
  padding: 4px 20px 0;
  display: flex;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;

  color: #999999;
  text-decoration: none;
  transition: .25s;
  align-items: center;
  justify-content: center;
}

.header_back-link:hover {
  color: #ffffff;
  cursor: pointer;
  transition: .3s;
}

.header_social-links {
    display: flex;
    max-width: 311px;
    width: 100%;
    justify-content: space-between;
}

.header_social-links a,
.header_social-links button {
    width: 150px;
    height: 46px;
    border-radius: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25.5px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    transition: .25s;
}

.header_social-links button {
    border: none;
    outline: none;
    background-color: #999999;
    color: #171523;
}

.header_social-links button:hover {
    cursor: pointer;
    background-color: #fff;
}

.header_social-links a {
    border: 1px solid #999999;
    color: #999999;
    text-decoration: none;
}

.header_social-links a:hover {
    border-color: #ffffff;
    color: #ffffff;
    cursor: pointer;
}

.header_social-links a img {
    filter: contrast(0);
    transition: .25s;
}

.header_social-links a:hover img {
    filter: contrast(10);
}