.axolotls-slider {
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 164px;
}

.axolotls-slider_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.mySwiper {
    margin-top: 88px;
    width: 100%;
}

.axolotls-slider .mySwiper {
    overflow: visible;
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 440px;
}


.mySwiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: flex-start;
}

.axolotls-slider .mySwiper .swiper-wrapper {
    width: 80%;
}

.mySwiper .swiper-slide img {
    display: block;
    width: 68%;
  transition: .3s;
    object-fit: cover;
    border-radius: 8px;
}

<<<<<<< HEAD
.mySwiper .swiper-slide-next img {
    width: 438px;
    height: 438px;
=======
.swiper-slide-next img {
    width: 70%;
  transition: .3s;
>>>>>>> 19e912bd49c6ee4b7cb5e9b78e0cdd5fa35a310e
}

.axolotls-slider .mySwiper .swiper-pagination-bullet {
    width: 55px;
    height: 5px;
    border-radius: 5px;
    opacity: 1;
    background: #595478;
    transition: .5s;
}

.axolotls-slider .mySwiper .swiper-pagination-bullet:hover {
    background: #8200FF;
}

<<<<<<< HEAD
.axolotls-slider .mySwiper .swiper-pagination-bullet-active {
    height: 10px;
=======
.axolotls-slider .swiper-pagination-bullet-active {
    height: 8px;
>>>>>>> 19e912bd49c6ee4b7cb5e9b78e0cdd5fa35a310e
    background: #8200FF;
}